In [66]:
import numpy as np
import pandas as pd
from statistics import mode
%matplotlib widget
%matplotlib inline
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

In [67]:
df = pd.read_csv("BankNote_Authentication.csv")

In [68]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [69]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [70]:
#shuffle our data
shuffled_df = normalized_df.sample(frac=1).reset_index(drop=True)
shuffled_df.head()

   variance  skewness  curtosis   entropy  class
0  1.169026 -1.251643  0.563308 -0.029007      0
1  0.850709  1.235064 -1.170230 -0.006208      0
2  0.484622  0.968530 -0.551371 -0.606918      0
3 -1.273844 -1.618313  2.429257  0.291653      1
4  1.652746 -0.332831 -0.248599  1.097926      0

In [71]:
data_len = len(shuffled_df.index)

In [72]:
split_at = int(data_len*0.3)
test_data, train_data = shuffled_df[:split_at], shuffled_df[split_at:]

In [73]:
test_data = test_data.reset_index(drop=True)
train_data = train_data.reset_index(drop=True)

In [74]:
len(test_data.index)

411

In [75]:
len(train_data.index)

961

In [76]:
unnormalized_trin_class=train_data['class']
unnormalized_test_class=test_data['class']

mean = train_data.mean()
std = train_data.std()

normalized_train_df = (train_data-mean)/std
normalized_test_df = (test_data-mean)/std


normalized_train_df['class']=unnormalized_trin_class
normalized_test_df['class']=unnormalized_test_class

In [77]:
normalized_train_df.head()

   variance  skewness  curtosis   entropy  class
0 -0.591645 -0.547243  0.198863  0.923815      1
1 -0.767682 -1.510870  1.346242  1.189207      1
2 -0.463942  0.182904 -0.636419 -0.136544      1
3 -0.489519 -1.107773  0.184133  0.798170      1
4  1.211693 -1.160493  0.465195  0.302935      0

In [78]:
normalized_test_df.head()

   variance  skewness  curtosis   entropy  class
0  1.162299 -1.270232  0.566397 -0.036010      0
1  0.841203  1.259130 -1.191650 -0.013306      0
2  0.471920  0.988024 -0.564041 -0.611529      0
3 -1.301896 -1.643191  2.458727  0.283322      1
4  1.650242 -0.335659 -0.256988  1.086256      0

In [79]:
def mean_squared_error(data,point):
    m,n = data.shape
    error=[]
    for i in range(m):
        row_error=0
        for j in range(n):
            row_error+= pow(data.loc[i][j] - point[j],2)
        error.append(row_error)
    return error

In [80]:
def knn(features,label,features_to_predict,k):
    error = mean_squared_error(features,features_to_predict)
    df = features.copy()
    df['label']=label
    df['error']=error
    df = df.sort_values(by=['error'])
    df_top_k = df.head(k)
    return df_top_k['label'].mode()[0],list(df['label'])

In [ ]:
n,m = test_data.shape
correct_predections_list=[]
train_features = normalized_train_df.iloc[:,:-1]
train_label = normalized_train_df['class'].tolist()

test_features = normalized_test_df.iloc[:,:-1]
test_label = normalized_test_df['class']

k_values_list = []
for j in range(n):
        predected_value,all_error_sorted = knn(train_features,train_label,test_features.iloc[j],1)
        k_values_list.append(all_error_sorted)

In [ ]:
for i in range (9):
    correct_predections=0
    for j in range(n):
        predected_value = mode(k_values_list[j][0:i+1])
        if(predected_value == test_label[j]):
            correct_predections+=1
    print('k value : ',i+1)
    print('Number of correctly classified instances : ',correct_predections,'Total number of instances : ',len(test_data.index))
    print('Accuracy : ',correct_predections/len(test_data.index)*100)
    correct_predections_list.append(correct_predections)

In [ ]:
correct_predections_list